<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
    <img alt="크리에이티브 커먼즈 라이선스"
         style="border-width:0"
         src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/>
  </a>
  <br/>
  <a href="http://su-root.site:8080/" property="cc:attributionName"
     rel="cc:attributionURL">Seung ju Kim</a>에 의해 작성된
  <span property="dct:title">Korean Real estate Map</span>은(는)
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">크리에이티브 커먼즈 저작자표시-비영리-변경금지 4.0 국제 라이선스</a>
  에 따라 이용할 수 있습니다.
</footer>
