{% load static %}
<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <em class="fas fa-phone"></em> (617)-555-5555
            </div>
            <div class="col-md-4">
                <em class="fas fa-envelope-open"></em> contact@btrealestate.co
            </div>
            <div class="col-md-4">
                <div class="social text-right">
                    <a href="#">
                        <em class="fab fa-"></em>
                    </a>
                    <a href="#">
                        <em class="fab fa-facebook"></em>
                    </a>
                    <a href="#">
                        <em class="fab fa-linkedin"></em>
                    </a>
                    <a href="#">
                        <em class="fab fa-instagram"></em>
                    </a>
                    <a href="#">
                        <em class="fab fa-pinterest"></em>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>